<%
let text = 'Welcome to our website!';
%>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Our site | <%= title %></title>
</head>

<body>
<h1><%- text %> <%= title %>.</h1>
<p>This is a simple page.</p>
</body>

</html>